.mainBox {
    margin-bottom: 50px;
    margin-top: 40px;
    padding-right: 128px;
    padding-left: 128px;
}

.topName {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;

}
.topInfo {
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
}
p {
    font-size: 1rem;
    padding-left: 30px;
    margin-bottom: 0;
}
h3 {
    font-size: 1.5rem;
    font-weight: 600;
}
h4 {
    font-size: 1.3rem;
    padding-left: 20px;
    margin-bottom: 0;
}
.mainBox ul {
    list-style: inside;
    margin-bottom: 0;
}
.mainBox li {
    padding-left: 35px;
}
@media screen and (max-width: 950px) {
    .mainBox {
        margin-top: 20px;
        padding-right: 16px;
        padding-left: 16px;
    }
    p {
        padding-left: 15px;
    }
    h4 {
        padding-left: 10px;
    }
    .mainBox li {
        padding-left: unset;
    }
}
.alignBox {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}
.lefta {
    /*float: left;*/
    /*width: 50%*/
}
.righta {
    /*float: right;*/
    /*text-align: right;*/
    /*width: 50%;*/
}

.firstp {
    margin: 0;
    font-size: 1rem;
    text-align: center;
}
.fs {
    font-size: 1.2rem;
}
