/*@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');*/

html, body {
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Calibri (Body)', 'sans-serif', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.p8 {
    padding-left: 8px;
    padding-right: 8px;
}
.p16 {
    padding-left: 16px;
    padding-right: 16px;
}
.p32 {
    padding-left: 32px;
    padding-right: 32px;
}
.navList {
    background: #27292a;
    list-style: none;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    padding-bottom: 10px;

    & a:hover {
        color: white;
        text-decoration: none;
    }
}
.navlist a:hover{
    color: white;
}
.navListElement {
    padding-right: 20px;
    margin: 0 10px;
}
.navListElement:hover::after {
    transform: scaleX(1);
}
.navListElement::after {
    content: "";
    display: block;
    transform: scaleX(0);
    border-top: 5px solid white;
    transition-property: transform, border-color;
    transition-duration: 0.3s, 0.3s;
    transition-timing-function: ease-out, ease-out;
    transition-delay: 0s, 0s;
    margin-bottom: 5px;
}
.navListElement a{
    color: rgba(0,0,0,0.2);
    font-weight: 500;
    font-size: 2.4rem;
    text-decoration: none;
    color: white;
}
.pushLeft {
    padding-left: 20px;
    margin-right: auto;
}
.outerBox {
    margin: auto;
}

@media screen and (max-width: 950px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 576px) {
    html {
        font-size: 11px;
    }
    .navListElement a{
        font-size: 1.3rem;
    }
}



